snippet.yaml
syslogng.yaml
rendered.yaml

syslogng.md

# Created by https://www.toptal.com/developers/gitignore/api/helm,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=helm,visualstudiocode

### Helm ###
# Chart dependencies
**/charts/*.tgz

*.tgz

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/helm,visualstudiocode

.env

snmp*